.Footer {
    background-color: #A22513;
    background-image: url('../assets/Nav_pattern.png'); /* Đường dẫn tới ảnh nền */
    background-size: cover; /* Bao phủ toàn bộ navbar */
    background-repeat: no-repeat;
}